.Header {
  background-color: #00205B;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.HeaderLogo {
  height: 60px;
  width: 60px;
  background-color: #00205B;
  float: left;
  text-align: center;
}

.HeaderTitle {
  padding: 10px;
}

.MainWrapper {
  background-color: white;
}

.Main {
  width: 1040px;
  padding: 96px 0;
}

.ListItem li {
  display: inline-block;
}

.PlayerImage {
  width: 50px;
  height: 50px;
}

.Footer {
  background-color: #1d1d21;
  padding: 80px 0;
}

.FooterInner {
  max-width: 1040px;
  margin: 0 auto;
}

.FooterInner ul {
  color: black
}

.FooterInner li {
  color: white;
  display: inline-block;
  padding-left: 16px;
}

